.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 70px);

  &-banner {
    align-items: center;
    background-image: url("https://i.pinimg.com/originals/b8/f9/d5/b8f9d52ec05bb90981bf3ce39247a2d2.jpg");
    background-position: center;
    background-size: cover;
    color: $white;
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    height: 400px;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }

  &-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      margin: 40px 0;
    }
  }

  &-title {
    background-color: $black;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 30px;

    @include media-breakpoint-down(sm) {
      font-size: 38px;
    }
  }

  &-description {
    font-size: 18px;
    font-weight: 300;
    background-color: $black;
    max-width: 420px;
    text-align: center;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &Card {
    background-color: $black;
    color: $white;
    font-family: $font-primary;
    padding: 20px;
    text-align: center;
    width: 250px;

    &-title {
      font-size: 24px;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 20px;
      }
    }

    &-text {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    &-link {
      border: 1px solid $white;
      font-size: 16px;
      padding: 8px 12px;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
