.button {
  background-color: $black;
  border: none;
  color: $white;
  cursor: pointer;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  text-transform: uppercase;
  padding: 11px 15px;

  @include media-breakpoint-down(lg) {
    font-size: 14px;
    padding: 8px 12px;
  }

  @include media-breakpoint-down(sm){
    padding: 8px 6px;
    width: 100%;
  }

  &.Active {
    border: 1px solid $white;
  }
}
