.Card {
  background-color: $black;
  padding: 10px 10px 0;
  width: 350px;
  position: relative;

  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 30px;

    @include media-breakpoint-down(lg){
      margin: 30px 10px;
      gap: 10px;      
    }
  }

  &-content {
    align-items: center;
    color: $white;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  &-name {
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 500;
    margin: 0;

    &.Clamp{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
  }

  &-link {
    cursor: pointer;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
  }

  &-favorite {
    color: $yellow;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 15px;
    text-align: right;
    top: 15px;
    z-index: 1;
  }
}
