.Detail {
  background-color: $black;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }

  @include media-breakpoint-down(sm) {
    max-width: 300px;
  }

  &-container {
    background-image: $gradient;
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    width: 100%;
  }

  &-redirect {
    align-items: center;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    gap: 10px;
    margin: 20px;
    max-width: 184px;
  }

  &-content {
    color: $white;
    width: 500px;
    padding: 20px 30px;

    @include media-breakpoint-down(sm) {
      max-width: 300px;
    }
  }

  &-image {
    position: relative;
    width: 500px;
    min-height: 500px;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }

    @include media-breakpoint-down(md) {
      min-height: 300px;
      width: 300px;
    }
  }

  &-name {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &-label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &-text {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &-list {
    margin-bottom: 0;
    max-height: 300px;
    overflow-y: scroll;
    padding-left: 20px;

    @include media-breakpoint-down(sm) {
      max-height: 200px;
    }
  }

  &-item {
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    word-break: break-all;
    width: 100%;

    &:hover{
      background-color: $white;
      color: $black;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &-title {
    color: $white;
    font-family: $font-secundary;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      max-width: 260px;
    }
  }

  &-collection {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 1000px;
  }

  &-condition {
    color: $white;
    font-size: 20px;
    font-weight: 300;
  }

  &-info {
    display: flex;
    gap: 30px;
  }
}
