.Header {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;

  &-image {
    margin-bottom: 30px;
    width: 250px;
  }

  &-text {
    color: $white;
    font-family: $font-primary;
    font-size: 24px;
    margin-bottom: 30px;
  }

  &-filters{
    display: flex;
    gap: 25px;
  }
}
