.Input {
  border: 0;
  font-family: $font-primary;
  font-size: 16px;
  padding: 10px 15px;
  max-width: 500px;
  outline: none;
  width: 100%;

  @include media-breakpoint-down(lg){
    max-width: 420px;
    padding: 9px 15px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
    padding: 8px 15px;
  }

  &.Disabled {
    display: none;
  }
}
