.Login {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 30px 50px;
  width: 600px;

  &-container {
    display: flex;
    height: 100vh;
    width: 100%;
  }

  &-logo {
    margin-bottom: 30px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-label {
    font-family: $font-secundary;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;

    @include media-breakpoint-down(sm){
      font-size: 16px;
    }
  }

  &-input {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    padding: 5px;
  }

  &-image {
    background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/08/Marvel-Wallpaper-for-Iphone-HD.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    @include media-breakpoint-down(sm){
      display: none;
    }
  }

  &-error{
    font-family: $font-secundary;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
  }

  &-field{
    display: flex;
    flex-direction: column;
    margin: 5px 0 20px;
    gap: 10px;
  }
}
