.Navbar {
  align-items: center;
  background-color: $black;
  display: flex;
  font-family: $font-primary;
  justify-content: space-between;
  padding: 10px 30px;

  @include media-breakpoint-down(sm) {
    padding: 10px;
  }

  &-list {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-breakpoint-down(sm) {
      gap: 10px;
      margin: 0 5px;
    }
  }

  &-link {
    color: $white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 0 4px;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }
  
  &-logo {
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &-login {
    align-items: center;
    background-color: $red;
    border: none;
    color: $white;
    cursor: pointer;
    display: flex;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    text-transform: uppercase;
    width: 90px;

    @include media-breakpoint-down(sm) {
      height: 30px;
      font-size: 12px;
    }
  }

  &-options {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
