.Search {
  display: flex;
  justify-content: center;
  width: 100%;

  @include media-breakpoint-down(sm){
    flex-direction: column;
    padding: 0 20px;
  }

  &-categories{
    display: flex;

    @include media-breakpoint-down(sm){
      width: 100%;
    }
  }

  &-select {
    font-family: $font-primary;
    font-size: 16px;
    outline: none;
    padding: 10px 15px;
    max-width: 500px;
    width: 100%;

    @include media-breakpoint-down(lg){
      font-size: 16px;
      max-width: 420px;
    }

    @include media-breakpoint-down(sm){
      font-size: 14px;
    }

    .css-1s2u09g-control, .css-1pahdxg-control{
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    &.Custom{
      padding: 0;
      z-index: 2;
    }

    &.Disabled {
      display: none;
    }
  }

}
