.Section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px 0;

  &-title {
    font-family: $font-secundary;
    color: $white;
    font-size: 35px;
    margin-bottom: 30px;
    text-transform: uppercase;

    @include media-breakpoint-down(lg) {
      font-size: 28px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }

  &-error{
    color: $white;
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 300;
    text-align: center;

    @include media-breakpoint-down(lg){
      font-size: 20px;
      max-width: 500px;
    }

    @include media-breakpoint-down(sm){
      font-size: 18px;
    }
  }
}
