.Thumbnail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  &-card {
    background-color: $black;
    color: $white;
    cursor: pointer;
    font-size: 24px;
    font-weight: 300;
    padding: 10px;
    text-align: center;

    &:hover{
      box-shadow: $box-shadow;
    }
  }

  &-name {
    max-width: 160px;
    margin: 0;
  }
}
