$yellow: #fdd13f;
$red: #770101;
$maroon: #320200;
$white: #fafafa;
$black: #0c0c0c;
$gradient: linear-gradient(90deg, $maroon 0%, $red 20%, $red 80%, $maroon 100%);
$box-shadow: -1px -1px 20px 1px $white;
$font-primary: 'Roboto', san-serif;
$font-secundary: 'Lato', san-serif;